<!DOCTYPE html>
<html>

<head>
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <style>
    .mrgtop30{
      margin-top: 30px;
    }
    li{
      list-style-type: none;
      margin-bottom: 20px !important;
    }
    body{
      padding: 100px;
      background: #429ccc;
    }
    .white-bg{
      background: #fff;
      padding: 20px;
      border-radius: 10px;
    }
    .thumbnail{
      height: 250px !important;
      min-height: 250px !important;
      max-height: 250px !important;
    }
  </style>
</head>

<body>

<div ng-app="" ng-controller="personController">

  <div class="white-bg">
    <div class="pull-right">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span> <input ng-model="searchText">
    </div>

    <br><br><br><br>

    <div class="row">
      <div class="col-xs-6 col-md-3" ng-repeat="x in documents | filter:searchText">
        <div class="thumbnail">
          <img src="file_icon.png" alt="FilePreview">
          <div class="caption">
            <h5>{{ x.name }}</h5>
            <p><a ng-href="{{x.url}}" class="btn btn-primary" role="button">View</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<script>
  function personController($scope) {
    $scope.documents=[
      {name:"The Rails 4 way",url:"http://ir.hubspot.com/files/doc_downloads/test.pdf"},
      {name:"The Ruby Programming language",url:"http://ir.hubspot.com/files/doc_downloads/test.pdf"},
      {name:"Beginning Backbone",url:"http://ir.hubspot.com/files/doc_downloads/test.pdf"},
      {name:"Refactoring Ruby",url:"http://ir.hubspot.com/files/doc_downloads/test.pdf"},
      {name:"Learning Ruby",url:"http://ir.hubspot.com/files/doc_downloads/test.pdf"}
    ]
  }
</script>

</body>
</html>
